<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet"/>

    <title>ERROR</title>
</head>
<body style="margin:0;">
<div id="box">
    <h2 id="a1">modernvid</h2>
    <div id="a2">
        <a href="/">
            <div id="back-button">Back</div>
        </a>
    </div>
</div>
<h1 id="error-text"><%=message%></h1>
<h1 id="error-text-status"><%=error.status%></h2>
<script src="pages/index.js"></script>
</body>
</html>

