<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet"/>

    <title><%= title %></title>
</head>
<body style="margin:0;">
<div id="box">
        <h2 id="a1">modernvid</h2>
        <div id="a2">
            <a href="/">
                <div id="back-button">Back</div>
            </a>
        </div>
</div>
<form action="/login" method="POST" id="gov1">
    <div class="container">
        <h1>Login</h1>
        <hr>
        <label for="login"><b>login</b></label>
        <input type="text" placeholder="example42" name="login" id="login" required>

        <label for="psw"><b>password</b></label>
        <input type="password" placeholder="" name="password" id="password" required>

        <hr>
        <input type="submit" class="registerbtn" value="Войти"></button>
    </div>
</form>
</body>
</html>